.container {
	background-image: url("/making-user.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-origin: border-box;
}

.userContainer {
	width: 300px;
	/* height: 500px; */
	background-color: rgba(44, 44, 44, 0.319);
	border: 1px solid white;
	border-radius: 15px;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	box-shadow: 0px 5px 10px rgb(0, 0, 0);
	padding: 25px;
}

.profilePict .pict {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
    border: 1px solid rgb(255, 255, 255);
    margin: 0 auto;
    margin-bottom: 10px;
}

.userContainer form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
}

.userContainer form * {
    margin: 5px;
    margin-bottom: 10px;
}

.userContainer form input {
    width: 200px;
    height: 40px;
    padding: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    outline: none;
    border-radius: 5px;
    transition: background-color 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.userContainer form input::placeholder {
    color: white;
    text-align: center;
}

.userContainer form input:active, .userContainer form input:focus {
    border: none;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0.39);
}

.userContainer button {
    background-color: rgba(0, 0, 0, 0.198);
    width: 100px;
    height: 40px;
    border-radius: 5px;
}
